.admin{
    display: grid;
    height: 100vh;

    grid-template-columns: 20% 1fr;
    grid-template-rows: 5% 1fr;
    grid-template-areas: "header header"
                         "sidebar content";

    *{
        a{
            text-decoration: none;
            color: #000000;
        }

        ul{
            text-decoration: none;
            list-style: none;
        }
    }
    
        @media only screen and (max-width: 600px) {
             h1{
                font-size: 4vw;
            }
        }

    > header{
        background-color: #4a5568;
        grid-area: header;

        display: grid;
        grid-template-columns: 20% 1fr;
        grid-template-rows: 100%;
        grid-template-areas: "logo nav";

        .logo{
            grid-area: logo;
            background-color: #3a4353;
            display: flex;
            justify-content: center;
            align-items: center;
            
            a{
                color: white;
                text-decoration: none;
            }
        }

        nav{
            grid-area: nav;
            display: flex;

            ul{
                padding-left: 10px;
                display: flex;
                align-items: center;
    
                a{
                    color: #9ba0a8;
    
                    &:hover{
                        color: #ffffff;
                    }
                }
            }
        }
    }

    > aside{
       grid-area: sidebar; 
       
      

       ul{
            padding: 0;

            li{            
                margin-bottom: 10px;
                text-align: center;

                > div{
                    display: grid;
                    grid-template-columns: 1fr 20%;
                    grid-template-rows: 100%;
                    grid-template-areas: "link action";
                
                    .navigation-link{
                        grid-area: link; 
                        flex-grow: 1;
                        font-size: 2.5vh;
                        display: flex;
                        align-items: center;

                        i{
                            margin: 0 20px;
                        }

                        &.active{
                            color: black;
                        }
                    }

                    .add-new-link{
                       grid-area: action;
                       display: flex;
                       align-self: center;
                    }
                }
            }

            a{
                color: #9ba0a8;

                &:hover{
                    color: #000000;
                }
            }
       }
    }

    > main {
        grid-area: content;
        background-color: #edf2f5;

        grid-template-columns: 1fr;
        grid-template-rows: 5% 1fr;

        .overlay{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: absolute;
            width: 80%;

            .loader {
                border: 16px solid #f3f3f3;
                border-radius: 50%;
                border-top: 16px solid #3498db;
                width: 120px;
                height: 120px;
                -webkit-animation: spin 2s linear infinite; /* Safari */
                animation: spin 2s linear infinite;
            }
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }

        .no-items-message{
            width: 50%;
            margin: 0 auto;
            text-align: center;
            color: #4a5568;
            font-size: 3vh;
            padding: 25px;

            .far{
                font-size: 10vh;
            }
            
            h3{
                margin-bottom: 10px;
            }

            a,
            div{
                font-size: 2vh;
            }

            a{
                display: block;
                width: 20%;
                height: 25px;
                background: #4a5568;
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                margin: 30px auto;
            }
        }

        .landing-page{
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            color: #4a5568;
        }

        > section{
            grid-area: content;       
            position:  relative;
            
            .simple-form-wrapper{
                display: flex;
                justify-content: center;
                width: 100%;

                form {
                    display: grid;
                    grid-template-columns: [labels] auto [controls] 1fr;
                    grid-auto-flow: row;
                    grid-gap: .8em;      
                    padding: 1.2em;    

                    button {
                        background-color: #4a5568; /* Green */
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        cursor: pointer;
                    }
  
                    label{
                        grid-column: labels;
                        grid-row: auto;
                    }
    
                    input, textarea, button{
                        grid-column: controls;
                        grid-row: auto;
                    }
    
                    input[type=text], select {
                        width: 100%;
                        padding: 12px 20px;
                        display: inline-block;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                    }
    
                    textarea{
                        width: 100%;
                        height: 150px;
                        padding: 12px 20px;
                        box-sizing: border-box;
                        border: 2px solid #ccc;
                        border-radius: 4px;
                        background-color: #f8f8f8;
                        resize: none;
                    }

                    &.simple-form{
                        width: 50%;                       
                    }
                }
            }
        
            table {
                border: 1px solid #ccc;
                border-collapse: collapse;
                margin: 0;
                padding: 0;
                width: 100%;
                table-layout: fixed;

                caption {
                    font-size: 1.5em;
                    margin: .5em 0 .75em;
                }

                tr {
                    background-color: #f8f8f8;
                    border: 1px solid #ddd;
                    padding: .35em;
                    cursor: pointer;

                    &:hover{
                        background-color: #d9dde6;
                    }
                }

                th,
                td {
                  padding: .625em;
                  text-align: center;
                }

                th {
                    font-size: .85em;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }
            }

            .list{
                width: 50%;
                display: flex;
                margin: 0 auto;
                margin-top: 50px;
                flex-wrap: wrap;
                flex-direction: column;

                .item{
                    display: flex;
                    padding: 10px 20px;
                    margin: 10px;
                    background-color: #ffffff;
                    height: 50px;
                    align-items: center;
                    box-shadow: 0 0 0 1px rgba(200,215,225,0.5), 0 1px 2px #e9eff3;

                    .content{
                        flex-grow: 1;
                    }
                }
            }

            @media screen and (max-width: 600px) {
                table {
                  border: 0;
                }
              
                caption {
                  font-size: 1.3em;
                }
                
                thead {
                  border: none;
                  clip: rect(0 0 0 0);
                  height: 1px;
                  margin: -1px;
                  overflow: hidden;
                  padding: 0;
                  position: absolute;
                  width: 1px;
                }
                
                tr {
                  border-bottom: 3px solid #ddd;
                  display: block;
                  margin-bottom: .625em;
                }
                
                td {
                  border-bottom: 1px solid #ddd;
                  display: block;
                  font-size: .8em;
                  text-align: right;
                }
                
                td::before {
                  /*
                  * aria-label has no advantage, it won't be read inside a table
                  content: attr(aria-label);
                  */
                  content: attr(data-label);
                  float: left;
                  font-weight: bold;
                  text-transform: uppercase;
                }
                
                td:last-child {
                  border-bottom: 0;
                }
              }
        }      
    }
}